@import "tailwindcss";
@import"antd/dist/reset.css";
@import './form.css';

body {
  background-color: #fafafa;
}

.ant-picker-time-panel-cell-inner{
  color: #fff;
}

@media screen and (min-width: 64rem){
  .container{
    max-width: 64rem;;
  }
}
